In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
train= pd.read_csv('train_loan.csv')

In [5]:
test = pd.read_csv('test_loan.csv')

In [6]:
train.head(n=10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [7]:
train['Dependents'].value_counts()

0     345
1     102
2     101
3+     51
Name: Dependents, dtype: int64

In [8]:
all_set = pd.concat([train.drop('Loan_ID',axis=1),test.drop('Loan_ID',axis=1)])

In [9]:
all_set.tail()

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_Status,Married,Property_Area,Self_Employed
362,4009,1777.0,1.0,3+,Not Graduate,Male,113.0,360.0,NaN,Yes,Urban,Yes
363,4158,709.0,1.0,0,Graduate,Male,115.0,360.0,NaN,Yes,Urban,No
364,3250,1993.0,NaN,0,Graduate,Male,126.0,360.0,NaN,No,Semiurban,No
365,5000,2393.0,1.0,0,Graduate,Male,158.0,360.0,NaN,Yes,Rural,No
366,9200,0.0,1.0,0,Graduate,Male,98.0,180.0,NaN,No,Rural,Yes

In [10]:
all_set.isnull().sum()

ApplicantIncome        0
CoapplicantIncome      0
Credit_History        79
Dependents            25
Education              0
Gender                24
LoanAmount            27
Loan_Amount_Term      20
Loan_Status          367
Married                3
Property_Area          0
Self_Employed         55
dtype: int64

In [11]:
all_set.shape

(981, 12)

In [12]:
train.shape

(614, 13)

In [13]:
test.shape

(367, 12)

In [14]:
all_set['Credit_History'].value_counts()

1.0    754
0.0    148
Name: Credit_History, dtype: int64

In [15]:
all_set.Credit_History.mode()[0]

1.0

In [16]:
all_set.Credit_History.fillna(all_set.Credit_History.mode()[0],axis=0,inplace=True)

In [17]:
all_set.isnull().sum()

ApplicantIncome        0
CoapplicantIncome      0
Credit_History         0
Dependents            25
Education              0
Gender                24
LoanAmount            27
Loan_Amount_Term      20
Loan_Status          367
Married                3
Property_Area          0
Self_Employed         55
dtype: int64

In [18]:
all_set.Dependents.mode()[0]

'0'

In [19]:
all_set.Dependents.fillna(all_set.Dependents.mode()[0],inplace=True)

In [20]:
all_set.Gender.mode()[0]

'Male'

In [21]:
all_set.Gender.fillna(all_set.Gender.mode()[0],inplace=True)

In [22]:
all_set.isnull().sum()

ApplicantIncome        0
CoapplicantIncome      0
Credit_History         0
Dependents             0
Education              0
Gender                 0
LoanAmount            27
Loan_Amount_Term      20
Loan_Status          367
Married                3
Property_Area          0
Self_Employed         55
dtype: int64

In [23]:
all_set.LoanAmount.mean()

142.51153039832286

In [24]:
all_set.LoanAmount.fillna(all_set.LoanAmount.mean(),inplace=True)

In [25]:
all_set.isnull().sum()

ApplicantIncome        0
CoapplicantIncome      0
Credit_History         0
Dependents             0
Education              0
Gender                 0
LoanAmount             0
Loan_Amount_Term      20
Loan_Status          367
Married                3
Property_Area          0
Self_Employed         55
dtype: int64

In [26]:
all_set.Loan_Amount_Term.mode()[0]

360.0

In [27]:
all_set.Loan_Amount_Term.fillna(all_set.Loan_Amount_Term.mode()[0],inplace=True)

In [28]:
all_set.Self_Employed.mode()[0]

'No'

In [29]:
all_set.Self_Employed.fillna(all_set.Self_Employed.mode()[0],inplace=True)

In [30]:
all_set.isnull().sum()

ApplicantIncome        0
CoapplicantIncome      0
Credit_History         0
Dependents             0
Education              0
Gender                 0
LoanAmount             0
Loan_Amount_Term       0
Loan_Status          367
Married                3
Property_Area          0
Self_Employed          0
dtype: int64

In [31]:
all_set.Married.mode()[0]

'Yes'

In [32]:
all_set.Married.fillna(all_set.Married.mode()[0],inplace=True)

In [33]:
for feature in all_set.columns: # Loop through all columns in the dataframe
    if all_set[feature].dtype == 'object': # Only apply for columns with categorical strings
        all_set[feature] = pd.Categorical(all_set[feature]).codes # Replace strings with an integer

In [34]:
all_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 981 entries, 0 to 366
Data columns (total 12 columns):
ApplicantIncome      981 non-null int64
CoapplicantIncome    981 non-null float64
Credit_History       981 non-null float64
Dependents           981 non-null int8
Education            981 non-null int8
Gender               981 non-null int8
LoanAmount           981 non-null float64
Loan_Amount_Term     981 non-null float64
Loan_Status          981 non-null int8
Married              981 non-null int8
Property_Area        981 non-null int8
Self_Employed        981 non-null int8
dtypes: float64(4), int64(1), int8(7)
memory usage: 52.7 KB

In [35]:
all_set.head()

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_Status,Married,Property_Area,Self_Employed
0,5849,0.0,1.0,0,0,1,142.51153,360.0,1,0,2,0
1,4583,1508.0,1.0,1,0,1,128.00000,360.0,0,1,0,0
2,3000,0.0,1.0,0,0,1,66.00000,360.0,1,1,2,1
3,2583,2358.0,1.0,0,1,1,120.00000,360.0,1,1,2,0
4,6000,0.0,1.0,0,0,1,141.00000,360.0,1,0,2,0

In [36]:
final_train = all_set[:train.shape[0]] # Up to the last initial training set row
final_test = all_set[train.shape[0]:] # Past the last initial training set row

In [37]:
final_train.shape

(614, 12)

In [38]:
final_test.shape

(367, 12)

In [39]:
final_train=pd.concat([final_train,train['Loan_ID']],axis=1)

In [40]:
final_test = pd.concat([final_test,test['Loan_ID']],axis=1)

In [41]:
final_test

,ApplicantIncome,CoapplicantIncome,Credit_History,Dependents,Education,Gender,LoanAmount,Loan_Amount_Term,Loan_Status,Married,Property_Area,Self_Employed,Loan_ID
0,5720,0.0,1.0,0,0,1,110.0,360.0,-1,1,2,0,LP001015
1,3076,1500.0,1.0,1,0,1,126.0,360.0,-1,1,2,0,LP001022
2,5000,1800.0,1.0,2,0,1,208.0,360.0,-1,1,2,0,LP001031
3,2340,2546.0,1.0,2,0,1,100.0,360.0,-1,1,2,0,LP001035
4,3276,0.0,1.0,0,1,1,78.0,360.0,-1,0,2,0,LP001051
5,2165,3422.0,1.0,0,1,1,152.0,360.0,-1,1,2,1,LP001054
6,2226,0.0,1.0,1,1,0,59.0,360.0,-1,0,1,0,LP001055
7,3881,0.0,0.0,2,1,1,147.0,360.0,-1,1,0,0,LP001056
8,13633,0.0,1.0,2,0,1,280.0,240.0,-1,1,2,0,LP001059
9,2400,2400.0,1.0,0,1,1,123.0,360.0,-1,0,1,0,LP001067
10,3091,0.0,1.0,0,1,1,90.0,360.0,-1,0,2,0,LP001078
11,2185,1516.0,1.0,1,0,1,162.0,360.0,-1,1,1,0,LP001082
12,4166,0.0,1.0,3,0,1,40.0,180.0,-1,0,2,0,LP001083
13,12173,0.0,0.0,2,0,1,166.0,360.0,-1,1,1,0,LP001094
14,4666,0.0,1.0,0,0,0,124.0,360.0,-1,0,1,0,LP001096
15,5667,0.0,1.0,1,0,1,131.0,360.0,-1,0,2,0,LP001099
16,4583,2916.0,1.0,2,0,1,200.0,360.0,-1,1,2,0,LP001105
17,3786,333.0,1.0,3,0,1,126.0,360.0,-1,1,1,0,LP001107
18,9226,7916.0,1.0,0,0,1,300.0,360.0,-1,1,2,0,LP001108
19,1300,3470.0,1.0,0,0,1,100.0,180.0,-1,0,1,0,LP001115
20,1888,1620.0,1.0,1,1,1,48.0,360.0,-1,1,2,0,LP001121
21,2083,0.0,1.0,3,1,0,28.0,180.0,-1,0,2,0,LP001124
22,3909,0.0,1.0,0,0,1,101.0,360.0,-1,0,2,0,LP001128
23,3765,0.0,1.0,0,1,0,125.0,360.0,-1,0,2,0,LP001135
24,5400,4380.0,1.0,0,0,1,290.0,360.0,-1,1,2,0,LP001149
25,0,24000.0,0.0,0,0,1,148.0,360.0,-1,0,0,0,LP001153
26,4363,1250.0,1.0,2,0,1,140.0,360.0,-1,1,2,0,LP001163
27,7500,3750.0,1.0,0,0,1,275.0,360.0,-1,1,2,0,LP001169
28,3772,833.0,1.0,0,0,1,57.0,360.0,-1,1,1,0,LP001174
29,2942,2382.0,1.0,0,0,1,125.0,180.0,-1,0,2,0,LP001176
...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,2292,1558.0,1.0,0,0,1,119.0,360.0,-1,1,2,0,LP002856
338,2360,3355.0,1.0,1,0,1,87.0,240.0,-1,1,0,1,LP002857
339,4333,2333.0,0.0,0,0,0,162.0,360.0,-1,0,0,0,LP002858
340,2623,4831.0,1.0,0,0,1,122.0,180.0,-1,1,1,1,LP002860
341,3972,4275.0,1.0,0,0,1,187.0,360.0,-1,0,0,1,LP002867
342,3522,0.0,1.0,3,1,1,81.0,180.0,-1,1,0,0,LP002869
343,4700,0.0,1.0,1,0,1,80.0,360.0,-1,1,2,0,LP002870
344,6858,0.0,1.0,0,0,1,176.0,360.0,-1,0,0,0,LP002876
345,8334,0.0,1.0,3,0,1,260.0,360.0,-1,1,2,0,LP002878
346,3391,1966.0,0.0,0,0,1,133.0,360.0,-1,1,0,0,LP002879
347,2868,0.0,1.0,0,1,1,70.0,360.0,-1,0,2,0,LP002885
348,3418,1380.0,1.0,2,1,1,135.0,360.0,-1,1,2,0,LP002890
349,2500,296.0,1.0,0,0,1,137.0,300.0,-1,1,0,1,LP002891
350,8667,0.0,1.0,2,0,1,254.0,360.0,-1,1,0,0,LP002899
351,2283,15000.0,1.0,0,0,1,106.0,360.0,-1,0,0,0,LP002901
352,5817,910.0,1.0,0,0,1,109.0,360.0,-1,1,2,0,LP002907
353,5119,3769.0,1.0,0,0,1,120.0,360.0,-1,1,0,0,LP002920
354,5316,187.0,0.0,3,1,1,158.0,180.0,-1,1,1,0,LP002921
355,7603,1213.0,1.0,3,0,1,197.0,360.0,-1,1,2,0,LP002932
356,3791,1936.0,1.0,1,0,1,85.0,360.0,-1,1,2,0,LP002935
357,2500,0.0,1.0,0,0,1,60.0,360.0,-1,0,2,0,LP002952
358,3132,0.0,1.0,2,1,1,76.0,360.0,-1,1,0,0,LP002954
359,4000,2667.0,1.0,0,0,1,152.0,360.0,-1,0,1,0,LP002962
360,8550,4255.0,1.0,0,0,0,96.0,360.0,-1,1,2,0,LP002965
361,2269,2167.0,1.0,1,0,1,99.0,360.0,-1,1,1,0,LP002969
362,4009,1777.0,1.0,3,1,1,113.0,360.0,-1,1,2,1,LP002971
363,4158,709.0,1.0,0,0,1,115.0,360.0,-1,1,2,0,LP002975
364,3250,1993.0,1.0,0,0,1,126.0,360.0,-1,0,1,0,LP002980
365,5000,2393.0,1.0,0,0,1,158.0,360.0,-1,1,0,0,LP002986
366,9200,0.0,1.0,0,0,1,98.0,180.0,-1,0,0,1,LP002989

In [42]:
del final_test['Loan_Status']

In [43]:
final_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 367 entries, 0 to 366
Data columns (total 12 columns):
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null float64
Credit_History       367 non-null float64
Dependents           367 non-null int8
Education            367 non-null int8
Gender               367 non-null int8
LoanAmount           367 non-null float64
Loan_Amount_Term     367 non-null float64
Married              367 non-null int8
Property_Area        367 non-null int8
Self_Employed        367 non-null int8
Loan_ID              367 non-null object
dtypes: float64(4), int64(1), int8(6), object(1)
memory usage: 22.2+ KB

In [44]:
final_train.isnull().sum()

ApplicantIncome      0
CoapplicantIncome    0
Credit_History       0
Dependents           0
Education            0
Gender               0
LoanAmount           0
Loan_Amount_Term     0
Loan_Status          0
Married              0
Property_Area        0
Self_Employed        0
Loan_ID              0
dtype: int64

In [45]:
final_test.isnull().sum()

ApplicantIncome      0
CoapplicantIncome    0
Credit_History       0
Dependents           0
Education            0
Gender               0
LoanAmount           0
Loan_Amount_Term     0
Married              0
Property_Area        0
Self_Employed        0
Loan_ID              0
dtype: int64

In [46]:
from sklearn.linear_model import LogisticRegression

In [47]:
x_train = final_train.drop(['Loan_Status','Loan_ID'], axis=1)

In [48]:
y_train = final_train['Loan_Status']

In [49]:
x_test = final_test.drop('Loan_ID',axis=1)

In [50]:
lr= LogisticRegression()

In [51]:
lr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [52]:
prediction = lr.predict(x_test)

In [53]:
prediction

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int8)

In [54]:
sub = pd.DataFrame({'Loan_ID' : final_test['Loan_ID'], 'Loan_Status' : prediction})
col = ['Loan_ID','Loan_Status']

In [55]:
sub = sub[col]

In [56]:
sub

      Loan_ID  Loan_Status
0    LP001015            1
1    LP001022            1
2    LP001031            1
3    LP001035            1
4    LP001051            1
5    LP001054            1
6    LP001055            1
7    LP001056            0
8    LP001059            1
9    LP001067            1
10   LP001078            1
11   LP001082            1
12   LP001083            1
13   LP001094            0
14   LP001096            1
15   LP001099            1
16   LP001105            1
17   LP001107            1
18   LP001108            1
19   LP001115            1
20   LP001121            1
21   LP001124            1
22   LP001128            1
23   LP001135            1
24   LP001149            1
25   LP001153            0
26   LP001163            1
27   LP001169            1
28   LP001174            1
29   LP001176            1
..        ...          ...
337  LP002856            1
338  LP002857            1
339  LP002858            0
340  LP002860            1
341  LP002867            1
342  LP002869            1
343  LP002870            1
344  LP002876            1
345  LP002878            1
346  LP002879            0
347  LP002885            1
348  LP002890            1
349  LP002891            1
350  LP002899            1
351  LP002901            1
352  LP002907            1
353  LP002920            1
354  LP002921            0
355  LP002932            1
356  LP002935            1
357  LP002952            1
358  LP002954            1
359  LP002962            1
360  LP002965            1
361  LP002969            1
362  LP002971            1
363  LP002975            1
364  LP002980            1
365  LP002986            1
366  LP002989            1

[367 rows x 2 columns]

In [57]:
sub.to_csv('third.csv',index = False)

In [58]:
final_test.shape

(367, 12)

In [59]:
final_train.shape

(614, 13)

In [60]:
prediction

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int8)

In [61]:
from sklearn.ensemble import GradientBoostingClassifier

In [62]:
grd = GradientBoostingClassifier(n_estimators=100)

In [63]:
grd.fit(x_train,y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False)

In [64]:
pred_gbm = grd.predict(x_test)

In [65]:
sub = pd.DataFrame({'Loan_ID' : final_test['Loan_ID'], 'Loan_Status' : pred_gbm})
col = ['Loan_ID','Loan_Status']

In [66]:
sub = sub[col]

In [67]:
sub.to_csv('gbm.csv',index=False)

In [68]:
x_test.isnull().sum()

ApplicantIncome      0
CoapplicantIncome    0
Credit_History       0
Dependents           0
Education            0
Gender               0
LoanAmount           0
Loan_Amount_Term     0
Married              0
Property_Area        0
Self_Employed        0
dtype: int64

In [69]:
import xgboost as xgb

In [70]:
model = xgb.XGBClassifier()

In [71]:
model.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [72]:
pred_xgb = model.predict(x_test)

In [73]:
sub1 = pd.DataFrame({'Loan_ID' : final_test['Loan_ID'], 'Loan_Status' : pred_xgb})
col = ['Loan_ID','Loan_Status']

In [74]:
sub1 = sub1[col]

In [75]:
sub1.to_csv('xgb.csv',index=False)

In [76]:
from sklearn.model_selection import train_test_split

In [79]:
X_train, X_test, Y_train, Y_test = train_test_split(final_train.drop(['Loan_Status','Loan_ID'],axis=1), 
                                                    final_train['Loan_Status'], test_size=0.30, 
                                                    random_state=101)

In [80]:
lr.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [81]:
pr = lr.predict(X_test)

In [83]:
from sklearn.metrics import classification_report,accuracy_score, confusion_matrix, auc ,roc_curve

In [84]:
print('accuracy %s' % accuracy_score(Y_test, pr))
cm = confusion_matrix(Y_test, pr)
print('confusion matrix\n %s' % cm)

accuracy 0.778378378378
confusion matrix
 [[ 26  38]
 [  3 118]]

In [85]:
mod = xgb.XGBClassifier()

In [86]:
mod.fit(X_train,Y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [87]:
pr1 = mod.predict(X_test)

In [88]:
a=accuracy_score(Y_test,pr1)

In [89]:
a

0.7567567567567568